{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_movie_footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/edit_movie.css' %}" />
    <title>View Movie</title>
{% endblock head %} 
{% block content %}
<div class="wrapper-selected-movie">
    <ul class="error-msgs" >
        {% if messages %}
            {% for message in messages %}
                <li {% if message.tags %} class"{{message.tags}} blink"{% endif %}>{{message}}</li>
            {% endfor %}
        {% endif %}
    </ul> 

    <div class="left-side-bar">
        <div class="imdb-header">
            <h1>IMDB Top 250</h1>
        </div>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
    </div>

    <div class="selected-movie">
        <h1>Update Movie & Who Likes</h1>
        <div class="form-container">
            <form action="/view-movie/{{ movie.id }}/" method="POST" name="edit-movie-nm" id="add-movie">
                {% csrf_token %}
                <h1>Edit Title & Description</h1>
                <input  type="text" name="movie-title-edit-nm" id="movie-title-edit" value="{{selected_movie.title}}">
                
                <!-- ADD MOVIE ID -->
                <input type="hidden" name="hidden-movie-id" value='TBD-ID'>
                {% load tz %}
                <div class="edit-movie">
                    <p>Added By </p>
                    <p id="p-add-by" class="sec-p">
                        {{ selected_movie.user_uploaded.first_name }} {{ selected_movie.user_uploaded.last_name }}
                    </p>
                </div>

                <div class="edit-movie">
                    <p>Added On </p>
                    <p id="p-add-on" class="sec-p">{{ selected_movie.user_uploaded.created_at|timezone:user_time_zone}}</p>
                </div>

                <div class="edit-movie">
                    <p>Last Update </p>
                    <p class="sec-p">{{ selected_movie.user_uploaded.updated_at|timezone:user_time_zone}}</p>
                </div>

                <div class="edit-movie">
                    <label for="movie-desc">Description</label>
                    <textarea class="data-collect" name="movie-desc-nm" id="movie-desc" cols="30" rows="10" required>{{ selected_movie.movie_desc }}</textarea>
                </div>

                <div id="update-delete-btns">
                    <input type="submit" name="edit-update-submit-nm" id="edit-update-submit" value="Update">
                    <button><a href="/delete-movie/{{ selected_movie.id }}/" >Delete</a></button>
                </div>
            </form>

            <form action="#" method="POST" name="movie-liked-by-nm">
                {% csrf_token %}
                <h1>Who Liked: {{ selected_movie.title }}</h1>
                <div class="movie-by-user">
                    <div class="movie-liked-by">
                        <p class="users-who-liked">{{selected_movie.user_uploaded.first_name}}  {{selected_movie.user_uploaded.last_name}}</p>
                        <span id="thumbs-down"><a href="/remove-like/{{ selected_movie.id }}">👎</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="right-side-bar">
        <div class="fav-movie-header">
            <h1>User Movie Ratings</h1>
        </div>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
        <p>Title of the Movie and it could be...</p>
    </div>

</div>

{% endblock %}